<!DOCTYPE html>
<html>
<head>
  <title>Bílavaktin</title>
  <link rel="icon" type="image/png" href="../static/myndir/bv.png">
  <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
  <meta charset="utf-8">
  <script src="../static/jquery-3.3.1.min.js"></script>
  <script src="../static/semantic.min.js"></script>
</head>
<body>
  <div class="ui inverted vertical masthead center aligned segment" style="padding-bottom: 90px;">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
    <div class="item"><h3><a href="{{ url_for('home') }}">Forsíða</a></h3></div>
    <div class="item"><h3><a href="{{ url_for('stjornendur') }}">Stjórnendur</a></h3></div>
    <div class="item"><h3><a href="{{ url_for('verslanir') }}">Vefverslanir</a></h3></div>
    <div class="item"><h3><a href="{{ url_for('login') }}">Innskráning</a></h3></div>
    <div class="item"><h3><a href="https://github.com/jonasfreyr/Lokaverkefni-Vefforritun2018/tree/master/Lokaverkefni">Github</a></h3></div>
  </div>
  <div class="ui text container">
      <h1 class="ui inverted header" style="margin-top: 30px; margin-bottom: 20px;">Bílafréttir</h1>
  </div>
</div>
</div>


<div class="ui four grid centered" style="margin-top: 30px;">
  <div class="ui four centered grid">
  <div class="four wide column "><h1 class="ui dividing header">Torfærukeppni á Hellu</h1><br>
  <br>
  12.Maí fór fram fyrsta umferð íslandsmótsinns í Torfæru 2018, Sindratorfæran á Hellu. <br>
  Það var mikið um dýrðir og ekki vantaði uppá sýninguna hjá ökumönnunum. Brautirnar framanaf voru eknar með miklum tilþrifum, stökkum og veltum við mikinn<br> fögnuð þeirra 5000 áhorfenda sem lögðu leið sína á svæðið. <br>
  Á eftir komu hraðari brautir sem reyndu gríðarlega á bíla og menn sem endaði með fleytingum og mýrarakstri með frábærri skemmtun.<br>
  <br></div>

  <div class="four wide column"><p><iframe width="500" height="281" src="https://www.youtube.com/embed/SKawz5cNDxc?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></p></div>

  <div class=""><img src="../static/Myndir/tor1.jpg">
  <img src="../static/Myndir/tor2.jpg">
  <img src="../static/Myndir/tor3.jpg">
  <img src="../static/Myndir/tor4.jpg">
  <img src="../static/Myndir/tor5.jpg">
  <img src="../static/Myndir/tor6.jpg">
  <img src="../static/Myndir/tor7.jpg">
  <img src="../static/Myndir/tor8.jpg">
  <img src="../static/Myndir/tor9.jpg">
  <img src="../static/Myndir/tor10.jpg">
  <img src="../static/Myndir/tor11.jpg">
  <img src="../static/Myndir/tor12.jpg">
  <img src="../static/Myndir/tor13.jpg"></div>

  <div class="fourfourfour wide column"></div>
</div>



<div class="ui five centered grid">
  <div class="three wide column">
    <p>Í fyrsta sæti í götubílum varð loksins Eðvald Orri Guðmundsson á Pjakknum,  hlaut hann veglegan bikar auk 100.000 kr inneignar hjá Sindra.<br>
      <br>
      Í öðru sæti fyrrum íslandsmeistarinn Ívar Guðmundsson á Kölska og í þriðja sæti Haukur Birgisson á Þeytingi. Tilþrifaverðlaunin komu svo í hlut<br> Steingríms Bjarnasonar á Strumpnum, en hann sýndi mikil tilþrif í flestum brautum dagsinns.<br></p>
  </div>
  <div class="three wide column">
    <p>Í sérútbúna flokknum var það Þór Þormar Pálsson á Thor sem stóð uppi sem sigurvegari. Má segja að hann hafi komið séð og sigrað, því hann hlaut einnig <br>tilþrifaverðlaun fyrir það þegar hann sló heimsmetið í vatnafleytingum og ók á 102 km/klst á ánni og sló þar með 4 ára gamalt met Guðbjörns Grímssonar á Kötlu <br>Turbo.<br>
<br></p>
  </div>
  <div class="three wide column">
    <p>Þór var ekki hættur heldur uppskar flest stig eftir daginn og vann þar með Helluna sem er farandbikar af sverustu gerð og heldur honum til eignar í 1 ár. Þór <br>hafði verið í harðri baráttu við Atla Jamil á Thunderbolt en Atli missteig sig örlítið í vatnaakstrinum sem kostaði hann dýrmæt stig.<br>
   Í öðru sæti var það svo Ingólfur Guðvarðarson sem loksins tókst að klára allar brautir á Hellu og uppskar eftir því.<br>
   Þriðja sætið kom í hlut Geirs Everts Grímssonar sem sýndi flotta takta og kláraði ánna í fyrsta skipti eftir fjölmörg döpur ár þar á undan.<br>
   Aukaverðlaun dagsins voru svo veitt Gesti J. Ingólfssyni fyrir að tvíhjóla í ánni en fleyta samt alla leið.<br>
    Hreint út sagt frábær keppni hjá Flugbjörgunarsveitinni á Hellu og Akstursíþróttanefnd umf. Heklu þar sem allt gekk upp.<br></p>
  </div>
</div>

</div>




<div class="ui comments centered">
  <h3 class="ui dividing header">Comments</h3>
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui" >
      <input type="submit" name="Submit" value="Submit comment">
    </div>
  </form>
</div>

</div>

</body>

  <footer>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Hjálpir</h4>
          <div class="ui inverted link list">
            <div style="border-bottom: grey 1px solid;">Logo made with <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo</a></div>
            <br>
            <div style="border-bottom: grey 1px solid;">

              <p>
                Bílavaktin er hýst hjá <a href="https://www.digitalocean.com">DigitalOcean Inc</a>
              </p>
            </div>
          </div>
        </div>
        <div class="three wide column" style="padding-bottom: 76px;">
          <h4 class="ui inverted header">Um Okkur</h4>
          <p>Hérna er hægt að fylgjast með bílafréttum og  bílaspjalli milli áhugafólks.<br> 
      Þessi vefsíða er fyrir alla bílaáhugamenn og konur sem hafa gaman af því að lesa um bíla sem aðrir eru að vinna í og hvað er að gerast í bílaheiminum.</p>
        </div>
      </div>
    </div>
  </div>

  
</footer>

</html>